- @hide_top_links = true
- @no_container = true
- breadcrumb_title "项目"
- page_title "星标项目"
- header_title "项目", dashboard_projects_path

%div{ class: container_class }
  = render "projects/last_push"
  = render 'dashboard/projects_head'

  - if params[:filter_projects] || any_projects?(@projects)
    = render 'projects'
  - else
    %h3.page-title 你还没有星标项目
    %p.slead 访问项目页面并点击星形图标，它将显示在此页面上。
