.prepend-top-default
.user-callout{ data: { uid: 'convdev_intro_callout_dismissed' } }
  .bordered-box.landing.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button',
      'aria-label' => 'Dismiss ConvDev introduction' }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .user-callout-copy
      %h4
        介绍您的会话发展指数
      %p
        您的会话开发索引概述了从功能角度使用GitLab的方式。 查看您与其他组织的比较，发现您未使用的功能，并通过博客文章和白皮书了解最佳实践。
    .svg-container.convdev
      = custom_icon('convdev_overview')
