= email_default_heading("Hello, #{@resource.name}!")
%p
  您提交了Task #{link_to(Gitlab.config.gitlab.url, Gitlab.config.gitlab.url)} 密码重置请求
%p
  如果您没有提交这个请求，请忽略此邮件
%p
  否则，点击下面的链接完成密码重置
#cta
  = link_to('重置密码', edit_password_url(@resource, reset_password_token: @token))
